/* body  {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
}
#container  {
	margin: 1em auto;
	width: 650px;
	background: #F5F5F5;
}
#header {background: #DCDCDC;}
#mainnav {background: #DCDCDC; }
#menu  {
	float: left;
	width: 165px;
	background: #DCDCDC;
}
#contents  {
	float: right;
	width: 440px;
	background: #DCDCDC;
	margin: 0 0 0 20px;

}
#footer  {
	clear: both;
	background: #FF9;
} */

/* global styles */

body {
	margin: 0;
	padding: 0;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #696969;
	background: #FFFFFF; /*url(img_39.gif) repeat 0 0;*/
}

a:link { color: #B52C07; }
a:visited { color: #b93411; }
a:focus { color: #000; }
a:hover { color: #7d8206; }
a:active { color: red; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }

h2 {
	color: #B52C07;
	font: 140% georgia, times, "times new roman", serif;
}

h2 a { text-decoration: none; }

h3 {
	color: #7d8206;
	font: 110% georgia, times, "times new roman", serif;
}

/* container styles */

#container {
	margin: 1em auto;
	width: 650px;
	text-align: left;
	background: #F8F8FF;
	border: 1px solid #676767;
}

/* header styles */

#header {
	height: 45px;
	width: 100%;
	position: relative;
	background: #F8F8FF; /*url(header.jpg) no-repeat 0 0;  para colocar uma imagem*/
	border-bottom: 1px solid #fff;
}

#header h1 {
	position: absolute;
	left: -500em;
}

#skipmenu {
	position: absolute;
	left: 0;
	top: 5px;
	width: 645px;
	text-align: right;
}

#skipmenu a {
	color: #555;
	text-decoration: none;
}

/* mainnav styles */

#mainnav {
	background: #F8F8FF;
	color: #272900;
	padding: 2px 0;
	margin-bottom: 22px;
}

#mainnav ul {
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
	border-left: 1px solid #C4C769;
}

#mainnav li {
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #C4C769;
}

#mainnav li a {
	text-decoration: none;
	color: #272900;
}

#mainnav li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #272900;
}

/* menu styles */

#menu {
	float: left;
	top: 10px;
	left: 10px;
	width: 165px;
	border-right: 1px solid #C5C877;
	padding-right: 15px;
	}


#menu ul {
	margin: 1em 0;
	padding: 0;
}

#menu ul li {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

/* contents styles */

#contents {
	float: right;
	width: 430px;
	margin: 0 0 0 20px;
	/**display: inline; codigo apenas para o ie6**/
}

#contents p { line-height: 165%; }


.formentry {
	border-bottom: 1px solid #C5C877;
}

.formentry ul {
	text-align:left;
	margin:1em 0;
	padding: 1;
	font-size: 95%;
}

.formentry li {
	line-height: 120%;
	list-style-type: none;
	margin: 5px 5px;
	padding: 0 0 0 12px;
}






.blogentry { border-bottom: 1px solid #C5C877; }

.blogentry ul {
	text-align: left;
	margin: 1em 0;
	padding: 0;
	font-size: 95%;
}

.blogentry li {
	list-style-type: none;
	display: inline;
	margin: 1;
	padding: 0 0 0 12px;
}

.imagefloat {
	float: left;
	padding: 2px;
	border: 1px solid #9FA41D;
	margin: 0 0 10px 10px;
}

.textareaestilo01 {
	margin:0px;
	width: 390px;
	height: 90px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background:#FFFFF0;
	resize: vertical;
}
.fieldsetestilo01 {
	display:block;
	border:1px groove;
}

.legendestilo01{
	padding: 0.1em 0.2em;
	border:1px groove;
	color:#696969;
	font-size:100%;
	text-align:left;
	font-weight:bold;
}
.labelestilo01 {
	float:left;
	width:25%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
	font-weight:bold;
}

/* footer styles */

#footer {
	clear: both;
	color: #272900;
	text-align: right;
	font-size: 90%;
	background: #9FA41D;
	padding: 5px;
}